<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jamestaylor.weg">
    <application
        android:icon="@mipmap/weg_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name=".WeaponCalculatorActivity"
            android:label="Weapon Calculator"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CALCULATOR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MemorizationAidActivity"
            android:label="Memorization Aid"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AID" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
